html, body {
    scroll-behavior: smooth;
    width: 100%;
    
    margin: 0;
    padding: 0;

    font-family: 'Poppins';
    font-size: 22px;
    text-align: center;
}

/* HOME SECTION */
.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #104730;
    color: #FFFFFF;
}

.home > * {
    margin: 2px;
}

.home > h1 {
    font-weight: 100;
    font-size: 30px;
}

.home > button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 160px;
    height: 45px;
    font-size: 18px;
    border: 2px solid #FFFFFF;
    background-color: #104730;
    color: #FFFFFF;
}

.home > button:hover {
    background-color: #136d48;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    transform: translateY(-1px);
}

.home > button:active {
    background-color: #002918;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

/* NAVIGATION BAR */
.nav {
    z-index: 999;
    height: 40px;
    width: 100%;
    position: absolute;
    background-color: #2F4F4F;
    border-bottom: 3px solid #4285F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.nav.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #2F4F4F;
}

.nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav > ul > li {
    list-style: none;
}

.nav > ul > li > a {
    margin: 0 15px;
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

@media (max-width: 768px) {
    .nav {
        justify-content: end;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        margin-right: 15px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-ul {
        position: relative;
        z-index: -1;
        flex-direction: column;
        background-color: #3f3f3ff1;
        width: 100%;
        top: 157px;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }

    .nav-li {
        margin: 13px 0;
    }

    .nav-ul.active {
        opacity: 1;
        visibility: visible;
    }
}

/* ABOUT SECTION */
.about {
    padding-top: 100px;
    color: #3F3F3F;
}

.about > h1 {
    margin: 0;
}

.about > p {
    margin: auto;
    padding: 15px;
    max-width: 1000px;
}
.about > a {
    text-decoration: none;
    color: #4285F4;
}

.about > a:hover {
    color: #0000FF;
}

/* SKILLS SECTION */
.skills {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 40px;

    color: #3f3f3f;
    font-size: 12px;
}

.skill {
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.skill-name {
    height: 30px;
    width: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 1px;
    color: white;
    background-color: #2F4F4F;
}

.skill-bar {
    height: 30px;
    width: 80%;
    background: #395f5f90;
}

.skill-percent {
    border-left: 2px solid white;
    height: 30px;
    background: #10473070;
    position: relative;
}

.fillBar {
    animation: fillBars 1.5s 1;
    animation-timing-function: ease-in-out;
}

@keyframes fillBars {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media (min-width: 900px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* PROJECTS SECTION */
.projects {
    padding-top: 80px;
    background-color: #d9d9d9;

    height: 100vh;
}

.projects > h1 {
    margin: 0;
}




/* CONTACT SECTION */
.contact {
    padding-top: 80px;
    background-color: #3f3f3f;
}